.generalHeader {
  background-color: rgb(239, 150, 81);
  margin: 0;
}

.generalHeader h1 {
  text-align: center;
  font-family: "Cal Sans", sans-serif;
  letter-spacing: 5px;
  font-weight: 400;
  background-color: rgb(239, 150, 81);
}

.navBar {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 8px;
  border-bottom: 5px solid rgb(63, 125, 88);
}

.navBar a {
  color: black;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  letter-spacing: 2px;
}
