* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: rgb(239, 150, 81);
}


a {
    width: 200px;
}

/* NAV */

.navBar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 8px;
    margin-bottom: 0;
    border-bottom: 5px solid rgb(63, 125, 88);
}

.carrerasH2 {
    text-align: center;
    margin-top: 0px;
}

/* VIDEO */

.carrerasVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* GRID DE CARRERAS */

.carrerasMain,.carrerasSection,.carrerasSection2 {
    background-color: rgb(239, 150, 81);
}


.carrerasGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* SEARCHER seccion carreras - ANIMACION DE BUSCADOR*/

.carrerasCarrerasSearcher{
    position: absolute;
    top: 124%;
    left: 81%;
    transform: translateX(-48%);
    padding: 10px;
}
.carrerasSearcherInput {
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 0;
    padding: 0 20px;
    color: black;
    border-radius: 50px;
    font-size: 20px;
    border: 4px solid rgb(63, 125, 88);
    transition: all .7s ease;
}
::placeholder{
    color: gray;
}
.carrerasBtn {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: rgb(63, 125, 88);
    line-height: 80px; 
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}
.carrerasBtn  {
    font-size: 25px;
    color: rgb(239, 239, 239);
    line-height: 80px;
    transition: all .7s ease;

}
.carrerasCarrerasSearcher:hover .carrerasSearcherInput {
    width: 350px;
}


.carrerasFooter .carrerasP {
    text-align: center;
    font-family: "Playfair Display", serif;
    color: black;
    margin: 0;
    padding: 20px;
    background-color: rgb(239, 150, 81);
}
