.footer {
  padding: 15px 0;
  background-color: rgb(239, 150, 81);
  border-top: 5px solid rgb(63, 125, 88);
  text-align: center;
}

.footerP {
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
}