* {
    
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: rgb(239, 239, 239);
}



/* IMAGENES DEL MAIN*/

.homeConteinerCarreras{
     max-width: 100%;
    position: relative;
    overflow-x: hidden;
    margin-bottom: 0;
}
.homeImgCarreras img{
     width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: block;
    border-bottom: 5px solid rgb(63, 125, 88);
}
.homeCarrerasTexto{
    color: white;
    position: absolute;
    top: 32%;
    left: 10%;
    transform: translateX(-15%);
    
}


/* SEARCHER - ANIMACION DE BUSCADOR*/

.homeCarrerasSearcher{
    position: absolute;
    top: 43%;
    left: 13%;
    transform: translateX(-48%);
    padding: 10px;
}
.homeSearcherInput {
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 0;
    padding: 0 20px;
    color: black;
    border-radius: 50px;
    font-size: 20px;
    border: 4px solid rgb(63, 125, 88);
    transition: all .7s ease;
}
::placeholder{
    color: gray;
}
.homeBtn {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: rgb(239, 150, 81);
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}
.homeBtn  {
    font-size: 25px;
    color: rgb(63, 125, 88);
    line-height: 80px;
    transition: all .7s ease;

}
.homeCarrerasSearcher:hover .homeSearcherInput {
    width: 350px;
}
.homeBtn:hover{
    background: rgb(239, 150, 81);
}
/* Orderer List */
.homeOrdererList .homeUl{
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    justify-content: space-around;
    background-color: rgb(239, 150, 81);
    margin-bottom: 0px;
}

/* FOOTER */
.homeFooter .homeP{
    text-align: center;
    background-color: rgb(239, 150, 81);
    margin: 0px;
}