* {
    
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color: rgb(239, 150, 81)
}


.investH2{
    text-align: center;
    margin: 10px;
    margin-top: 0;
}

.investMain{
    background-color: rgb(239, 150, 81);
}

/* BOTONES DE NAVEGACION*/

.navBar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 8px;
    margin-bottom: 0;
    border-bottom: 5px solid rgb(63, 125, 88);
    border-bottom-width: 100%;
}
.investCards{
    display: flex;   
}
.investCard{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: rgb(63, 125, 88);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.investCard:hover{
    box-shadow: 5px 5px 20px gba(0,0,0,0.4);
    transform: translateY(-3%);
}
.investCard .investImg {
    width: 100%;
    height: 210px;
}
.investCards .investCard {
    text-align: center;
}
.investCards .investCard .investP{
    line-height: 1.5;
    color: black;
}
.investCards .investCard .investH3{
    font-weight: 400;
    margin-bottom: 16px;
}
.investCards .investCard .investA{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: black;
    border: 1px solid rgb(239, 150, 81);
    border-radius: 4px;
    transition: all 400ms ease;
    font-size: large;
}
.investCards .investCard .investA:hover{
    background: rgb(239, 150, 81);
    color: white;
}
.footerInvest{
    border-top: 0;
}
.footerInvest .investP {
  text-align: center;
  padding: 20px;
  background-color: rgb(239, 150, 81);
  color: black;
  border-top: 0px;
  margin: 0px;
}


